<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{$site_name}</title>
	<!--防止IE进入怪异模式-->
	<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{include file="public:head" /}
</head>

<body>

	<div class="header other-page">
		{include file="public:nav" /}
	</div>


	<div class="main-list main-list2">
		<div class="tab-list">
			<div class="tab-select">
				<a href="javascript:;">编辑推荐<i></i></a>
				<div class="toggle_list">
					<a href="javascript:;" class="tabs-btn">编辑推荐</a>
					<!--<a href="">版主推荐</a>-->
					<a href="javascript:;" class="tabs-btn">站长推荐</a>
				</div>
			</div>
			<div class="tab-select tabs-btn">
				<a href="javascript:;">今日人气榜</a>
				<!-- <div class="toggle_list">
					<a href="">今日人气榜</a>
					<a href="">7天人气榜</a>
					<a href="">30天人气榜</a>
				</div> -->
			</div>
			<div class="tab-nav">
				<a href="javascript:;" class="tabs-btn  cur">最新</a>
				<a href="javascript:;" class="tabs-btn">视觉漫游</a>
				<a href="javascript:;" class="ceshi tabs-btn">图片广场</a>

			</div>
			<div class="tab-select fr">
				<a href="javascript:;">全部<i></i></a>
				<div class="toggle_list toggle_list_all">
					<h4>全部类别</h4>
					<div class="clearfix">
						<a href="javascript:void(0)" class="thisclass">全部</a>
						{foreach $assortment as $k=>$v}
						<a href="javascript:void(0)" class="">{$v.assortment_name}</a>
						{/foreach}
					</div>
				</div>
			</div>
		</div>
		<div class="main-content w1200">
			<div class="photos ">

			</div>
		</div>
	</div>



	{include file="public:footer" /}
</body>
<script>
	const mySwiper = new Swiper('.content7-swiper', {
		loop: true,
		slidesPerView: 3,
		spaceBetween: 100,
		navigation: {
			nextEl: '.content7-next',
			prevEl: '.content7-prev',
		},
	})

	const headSearchSelect = query('.head-search-select');
	const headSelectList = query('.head-select-list');
	const headSelectListLis = query('.head-select-list li');
	headSearchSelect.addEventListener('click', () => {
		headSelectList.classList.toggle('showHide');
	});
	headSelectListLis.forEach(item => {
		item.addEventListener('click', () => {
			headSearchSelect.innerHTML = item.innerHTML;
			headSelectList.classList.remove('showHide');
		})
	})
</script>
<script src="{$yf_theme_path}public/js/jquery.xgallerify.min.js"></script>
<script>
	window.onload = function () {
		$(".photos").show();

	}
	$(".tab-select,.zan-span").click(function () {
		$(this).toggleClass("cur");
		return false;
	});
</script>
<script>
	const windowHeight = document.body.offsetHeight;
	let onOff = false;
	let number = 0;
	let imgsListTop = null;
	let imgsListHeight = null;
	let tabNavIndex = 3;
	let url = '';

	init(query('.photos'), "{:url('News/newests')}")

	bindEvent(query('.tabs-btn'), 'click', function () {
		if (onOff) {
			query('.tabs-btn')[tabNavIndex].classList.remove('cur');
			tabNavIndex = this.index;
			query('.tabs-btn')[tabNavIndex].classList.add('cur');
			if (tabNavIndex === 5) {
				init(query('.photos'), "{:url('News/picture')}")
			} else if (tabNavIndex === 4) {
				init(query('.photos'), "{:url('News/vision')}")
			} else if (tabNavIndex === 3) {
				init(query('.photos'), "{:url('News/newests')}")
			} else if (tabNavIndex === 2) {
				init(query('.photos'), "{:url('News/popularity')}")
			} else if (tabNavIndex === 1) {
				init(query('.photos'), "{:url('News/station')}")
			} else if (tabNavIndex === 0) {
				init(query('.photos'), "{:url('News/bluepencil')}")
			}
		}
	});

	function star() {
		bindEvent(query('.zan-span'), 'click', function (ev) {
			ev.stopPropagation();

			let n_id = this.getAttribute('n_id');
			let id = this.getAttribute('id');
			$.post("{:url('Listn/fabulous')}", {
				id: id,
				n_id: n_id
			}, res => {
				console.log(res);
			})
		})
	}

	function init(dom, address) {
		dom.innerHTML = '';
		imgsListTop = dom.parentNode.offsetTop;
		imgsListHeight = dom.offsetHeight;
		number = 0;
		url = address;
		onOff = false;
		bindEvent(dom, 'mousewheel', () => {
			let scrollTop = document.documentElement.scrollTop;
			if (onOff && scrollTop >= imgsListTop + imgsListHeight - windowHeight - 100) {
				pinterest(dom, url)
			}
		})
		pinterest(dom, url);
	}

	function pinterest(dom, url) {
		console.log(number, url, tabNavIndex);
		onOff = false;
		$.post(url, {
			number,
			numberTwo: 10
		}, res => {
			console.log(res);
			number += 10;
			moreContent(res, dom);
			imgsListHeight = dom.offsetHeight;
		})
	}

	function moreContent(data, dom) {
		let listItem = '';
		let div = document.createElement('div');
		let ul = document.createElement('ul');
		div.className = 'main-content3';
		ul.className = 'clearfix';
		if (tabNavIndex === 4) {
			div.appendChild(ul);
			dom.appendChild(div);
		}
		data.forEach(item => {
			if (tabNavIndex != 4) {
				listItem +=
					`<div class="photo" onclick="location='{:url('index/substance')}?id=${item.n_id}'">
						
							<img src="${item.news_img}">
							<div class="title">
								<div class="top">
									<span class="liulan-span">${item.news_hits} 浏览</span>
									<span class="shuliang-span">${item.news_pic_allurl}<i></i></span>
								</div>
								<div class="bottom">
									<div class="user_item">
										${item.news[0]?'<img class="user_img" src="'+item.news[0].user_url+'" /><h4 class="user_name">'+item.news[0].member_list_nickname+'</h4>':''}
									</div>
									<span class="zan-span" id={$id} n_id=${item.n_id}> <i></i>${item.fabulous}</span>
								</div>
							</div>
					
					</div>`;
			} else if (tabNavIndex === 4) {
				listItem +=
					`<li>
						<div class="pic">
							<a href="{:url('index/substance')}?id=${item.n_id}">
									<img src="${item.news_img}" alt="" />
								</a>
							</div>
							<div class="text">
								<a href="{:url('index/substance')}?id=${item.n_id}"><h3>${item.news_title}</h3></a>
								<p>${item.news_scontent}</p>
								<ul class="clearfix">
									<li class="eyes"><i></i>${item.news_hits}</li> 
									<li class="shoucang"><i></i>${item.collection}</li>
								</ul>
							</div>
						</li>`;
			}
		})
		if (tabNavIndex != 4) {
			dom.innerHTML += listItem;
			$('.photos').gallerify({
				margin: 5,
				mode: 'default',
				lastRow: 'adjust'
			});
			star();
		} else if (tabNavIndex === 4) {
			ul.innerHTML += listItem;
		}
		onOff = true;

	}
</script>

</html>