<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{$site_name}</title>
	<!--防止IE进入怪异模式-->
	<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{include file="public:head" /}
</head>
<body>
<div class="header other-page">
	{include file="public:nav"}

</div>
<div class="activities-main">
	<div class="acti-m-p1">
		<div class="nav-xxk">
			{foreach $xia as $k=>$v}
			<a href="{:url('Index/summarizing',['id'=>$v.id,'menu_listtpl'=>$v.menu_listtpl])}" class="tabs-btn {if condition="$v.id eq $idd"}on1{/if}">{$v.menu_name}</a>
			{/foreach}
		</div>

	</div>
	<div class="w1200 mt30">
		<div class="acti-m-p2 swiper-container">
			<ul class="swiper-wrapper">
				{foreach $campaign as $k=>$v}
				<li class="swiper-slide">
					<a href="{$v.plug_ad_url}">
						<img src="{$v.plug_ad_pic}" alt="{$v.plug_ad_name}"/>
					</a>
				</li>
				{/foreach}
			</ul>
			<div class="swiper-pagination ">

			</div>
		</div>
	</div>

	<div class="acti-m-p3 w1200">
		<div class="acti-m-p3s1 clearfix">
			<div class="acti-m-p3s1g1 fr">
				<a href="" class="a-fbacti">发布活动</a>
				<div class="ss-acti">
					<input type="text" name="" id="" value="" placeholder="搜索活动"/><a href="" class="a-search"></a>
				</div>
			</div>
			<div class="acti-m-p3s1g2 fl">
				<span class="spn-nav a-active">进行中</span>
				<span class="spn-nav">已结束</span>
			</div>
		</div>
		<div class="acti-m-p3s2">
			<ul class="list-waipai clearfix">
				<li>
					<a href="">
						<div class="li-wp-top">
							<div class="pic-box">
								<img src="{$yf_theme_path}public/images/img12.png"/>
								<div class="fate">

								</div>
								<div class="pic-zz">
									<p class="p-author">组织者：POCO摄影社区广州站<span class="spn-gm">官方</span></p>
								</div>
							</div>

						</div>
						<div class="li-wp-s1">
							<div class="time-jion clearfix">
								<span class="fl">2018-10-12</span>
								<span class="fr">已报名10人</span>
							</div>
							<div class="thime-wp">
								【狮拍社】夏末秋季-华侨新村外拍活动
							</div>
							<div class="price-wp clearfix">
								<b class="">&yen;80.00</b>
								<span class="fr">广州市 越秀区</span>
							</div>
						</div>
					</a>

				</li>
				<li>
					<a href="">
						<div class="li-wp-top">
							<div class="pic-box">
								<img src="{$yf_theme_path}public/images/img12.png"/>
								<div class="fate">

								</div>
								<div class="pic-zz">
									<p class="p-author">组织者：POCO摄影社区广州站</p>
								</div>
							</div>

						</div>
						<div class="li-wp-s1">
							<div class="time-jion clearfix">
								<span class="fl">2018-10-12</span>
								<span class="fr">已报名10人</span>
							</div>
							<div class="thime-wp">
								【狮拍社】夏末秋季-华侨新村外拍活动【狮拍社】夏末秋季-华侨新村外拍活动【狮拍社】夏末秋季-华侨新村外拍活动
							</div>
							<div class="price-wp clearfix">
								<b class="">&yen;80.00</b>
								<span class="fr">广州市 越秀区</span>
							</div>
						</div>
					</a>

				</li>
				<li>
					<a href="">
						<div class="li-wp-top">
							<div class="pic-box">
								<img src="{$yf_theme_path}public/images/img12.png"/>
								<div class="fate">

								</div>
								<div class="pic-zz">
									<p class="p-author">组织者：POCO摄影社区广州站<span class="spn-gm">官方</span></p>
								</div>
							</div>

						</div>
						<div class="li-wp-s1">
							<div class="time-jion clearfix">
								<span class="fl">2018-10-12</span>
								<span class="fr">已报名10人</span>
							</div>
							<div class="thime-wp">
								【狮拍社】夏末秋季-华侨新村外拍活动
							</div>
							<div class="price-wp clearfix">
								<b class="">&yen;80.00</b>
								<span class="fr">广州市 越秀区</span>
							</div>
						</div>
					</a>

				</li>
				<li>
					<a href="">
						<div class="li-wp-top">
							<div class="pic-box">
								<img src="{$yf_theme_path}public/images/img12.png"/>
								<div class="fate">

								</div>
								<div class="pic-zz">
									<p class="p-author">组织者：POCO摄影社区广州站<span class="spn-gm">官方</span></p>
								</div>
							</div>

						</div>
						<div class="li-wp-s1">
							<div class="time-jion clearfix">
								<span class="fl">2018-10-12</span>
								<span class="fr">已报名10人</span>
							</div>
							<div class="thime-wp">
								【狮拍社】夏末秋季-华侨新村外拍活动
							</div>
							<div class="price-wp clearfix">
								<b class="">&yen;80.00</b>
								<span class="fr">广州市 越秀区</span>
							</div>
						</div>
					</a>

				</li>
				<li>
					<a href="">
						<div class="li-wp-top">
							<div class="pic-box">
								<img src="{$yf_theme_path}public/images/img12.png"/>
								<div class="fate">

								</div>
								<div class="pic-zz">
									<p class="p-author">组织者：POCO摄影社区广州站<span class="spn-gm">官方</span></p>
								</div>
							</div>

						</div>
						<div class="li-wp-s1">
							<div class="time-jion clearfix">
								<span class="fl">2018-10-12</span>
								<span class="fr">已报名10人</span>
							</div>
							<div class="thime-wp">
								【狮拍社】夏末秋季-华侨新村外拍活动
							</div>
							<div class="price-wp clearfix">
								<b class="">&yen;80.00</b>
								<span class="fr">广州市 越秀区</span>
							</div>
						</div>
					</a>

				</li>
			</ul>
			<ul class="list-waipai clearfix">
				<li>
					<a href="">
						<div class="li-wp-top">
							<div class="pic-box">
								<img src="{$yf_theme_path}public/images/img12.png"/>
								<div class="fate">

								</div>
								<div class="pic-zz">
									<p class="p-author">组织者：POCO摄影社区广州站<span class="spn-gm">官方</span></p>
								</div>
							</div>

						</div>
						<div class="li-wp-s1">
							<div class="time-jion clearfix">
								<span class="fl">2018-10-12</span>
								<span class="fr">已报名10人</span>
							</div>
							<div class="thime-wp">
								【狮拍社】夏末秋季-华侨新村外拍活动
							</div>
							<div class="price-wp clearfix">
								<b class="">&yen;80.00</b>
								<span class="fr">广州市 越秀区</span>
							</div>
						</div>
					</a>

				</li>
				<li>
					<a href="">
						<div class="li-wp-top">
							<div class="pic-box">
								<img src="{$yf_theme_path}public/images/img12.png"/>
								<div class="fate">

								</div>
								<div class="pic-zz">
									<p class="p-author">组织者：POCO摄影社区广州站</p>
								</div>
							</div>

						</div>
						<div class="li-wp-s1">
							<div class="time-jion clearfix">
								<span class="fl">2018-10-12</span>
								<span class="fr">已报名10人</span>
							</div>
							<div class="thime-wp">
								【狮拍社】夏末秋季-华侨新村外拍活动【狮拍社】夏末秋季-华侨新村外拍活动【狮拍社】夏末秋季-华侨新村外拍活动
							</div>
							<div class="price-wp clearfix">
								<b class="">&yen;80.00</b>
								<span class="fr">广州市 越秀区</span>
							</div>
						</div>
					</a>

				</li>



			</ul>
		</div>
	</div>



</div>

<div class="ht120">

</div>
{include file="public:footer"}
<script>
    var swiper = new Swiper('.acti-m-p2', {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        autoplay : true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

    });
</script>
<script type="text/javascript">
    function tab_click(obj,Obj,on){
        $(obj).click(function(){
            var i = $(this).index();
            $(obj).eq(i).addClass(on).siblings().removeClass(on);
            $(Obj).eq(i).show().siblings().hide();
        })
    }


    tab_click(".spn-nav",".list-waipai","a-active");
</script>
</body>
</html>
