<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>个人设置</title>
    <!--防止IE进入怪异模式-->
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/rest.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" href="./css/swiper.min.css">
    <script type="text/javascript" src="./js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script src="./js/swiper.min.js"></script>
</head>

<body>
    <div class="header other-page">
        <div class="head-content1 clearfix">
            <a href="" class="logo">
                <img src="./images/img3.png" alt="">
            </a>
            <ul class="head-nav">
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">发现</a>
                    <div>
                        <ul>
                            <li>
                                <a href="">作品</a>
                            </li>
                            <li>
                                <a href="">技巧</a>
                            </li>
                            <li>
                                <a href="">摄影师</a>
                            </li>
                            <li>
                                <a href="">活动</a>
                            </li>
                            <li>
                                <a href="">地区站</a>
                            </li>
                            <li>
                                <a href="">游学院</a>
                            </li>
                            <li>
                                <a href="">极限摄影</a>
                            </li>
                            <li>
                                <a href="">
                                    臻选视频
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="">大疆航拍</a>
                </li>
                <li>
                    <a href="">APP</a>
                    <div>

                        <ul>
                            <li>
                                <a href="">POCO摄影</a>
                            </li>
                            <li>
                                <a href="">POCO相机</a>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
            <div class="head-right">
                <div class="head-search">
                    <div class="head-search-input">
                        <div class="head-search-select">
                            作品

                        </div>
                        <input type="text" placeholder="搜索你喜欢的">

                    </div>
                    <em class="icon-search"></em>
                    <ul class="head-select-list">
                        <li>
                            作品
                        </li>
                        <li>
                            用户
                        </li>
                        <li>
                            文章
                        </li>
                    </ul>
                </div>
                <div class="user-operation">
                    <div>
                        <p></p>
                        <ul>
                            <li>
                                <a href="">
                                    点赞
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    评论
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    新粉丝
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p></p>
                        <ul>
                            <li>
                                <a href="">
                                    个人中心
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    设置
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    联系我们
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p>发布</p>
                        <ul>
                            <li>
                                <a href="">作品</a>
                            </li>
                            <li>
                                <a href="">博文</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="content21 w1200 clearfix">
        <div class="content21-left">
            <ul>
                <li class="content21-left-active">
                    <a href="javascript:;">
                        个人资料
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        账号与密码
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        隐私设置
                    </a>
                </li>
            </ul>
        </div>
        <div class="content21-right">
            <h1>个人资料</h1>
            <div class="content21-one clearfix">
                <div class="content21-one-left">
                    <p>昵称</p>
                    <input type="text" name="" id="">
                    <p>个人签名</p>
                    <input type="text" name="" id="">
                    <p>出生日期</p>
                    <input type="text" name="" id="">
                </div>
                <div class="content21-one-right">
                    <p></p>
                    <label for="img-file">
                        上传头像
                    </label>
                    <input id="img-file" type="file" style="visibility: hidden;">
                </div>
            </div>
            <div class="sex">
                <p>性别</p>
                <div class="clearfix">
                    <input type="radio" name="sex" id="man">
                    <label for="man">男</label>
                    <input type="radio" name="sex" id="girl">
                    <label for="girl">女</label>
                    <input type="radio" name="sex" id="secrecy">
                    <label for="secrecy">保密</label>
                </div>
            </div>
            <div class="region">
                <p>地区</p>
                <div class="clearfix">
                    <select name="" id="">
                        <option value="">
                            省
                        </option>
                    </select>
                    <select name="" id="">
                        <option value="">
                            市
                        </option>
                    </select>
                    <select name="" id="">
                        <option value="">
                            县
                        </option>
                    </select>
                </div>
            </div>

            <div class="domain-name">
                <p>个性域名</p>
                <input type="text" name="" id="">
            </div>

            <div class="more-set"></div>
            <p class="more-edit">编辑</p>
            <div>
                <a href="javascript:;" class="save-change">
                    保存更改
                </a>
            </div>

        </div>

        <div class="content22 clearfix">
            <p>账号与密码</p>
            <a href="">
                进入账号服务中心
            </a>
        </div>

        <div class="content23 clearfix">
            <p>隐私设置</p>
            <div class='clearfix'>
                <span>
                    谁可以评论我的作品
                </span>
                <select name="" id="">
                    <option value="">
                        所有人
                    </option>
                    <option value="">
                        我关注的
                    </option>
                    <option value="">
                        关闭
                    </option>
                </select>
            </div>
      
                <a href="javascript:;" class="save-change fl">
                    保存更改
                </a>
           

        </div>
    </div>





    <div class="footer">
        <div class="foot-content1 w1200 clearfix">
            <div class="foot-content1-left">
                <a href="" class="foot-logo">
                    <img src="./images/img18.png" alt="">
                </a>
                <p class="foot-left-text">
                    POCO.CN是目前国内最大的以原创图片为核心的分享社区。分享近4亿张原创图片，平均每日新增20万张上传图片；聚合1.1亿优质网友。
                </p>
                <ul class="foot-left-list clearfix">
                    <li>
                        <a href="">关于我们</a>
                    </li>
                    <li>
                        <a href="">联系我们</a>
                    </li>
                    <li>
                        <a href="">广告合作</a>
                    </li>
                    <li>
                        <a href="">市场合作</a>
                    </li>
                    <li>
                        <a href="">帮助中心</a>
                    </li>
                    <li>
                        <a href="">留言反馈</a>
                    </li>
                </ul>
                <p class="foot-links">
                    <a href="">
                        增值电信经营许可证
                    </a>
                    <a href="">
                        不良信息举报中心
                    </a>
                </p>
                <p class="foot-info">
                    POCO网违法和不良信息举报电话：020-87396390 举报邮箱：714713387@qq.com
                </p>
            </div>
            <div class="foot-content1-center">
                <h3>关注我们</h3>
                <a href=""></a>
                <p>
                    <img src="./images/img20_09.png" alt="">
                </p>
            </div>

            <div class="foot-content1-right">
                <h3>APP下载</h3>
                <div class="clearfix">
                    <img src="./images/img2.png" alt="">
                    <p>
                        <a href="">
                            iPhone下载
                        </a>
                        <a href="">
                            Android下载
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="foot-content2">
            <p class="clearfix">
                <span>备案号 : </span>
                <a href="">粤B2-20030218号-2</a>
                <span>ICP证号 ：</span>
                <a href="">
                    粤B2-20030218号-2
                </a>
                <span>
                    Copyright © 2003-2018
                </span>
                <img src="./images/img21.png" alt="">
                <img src="./images/img22.png" alt="">
                <a href="">
                    粤公网安备 44010402000060号
                </a>
            </p>
        </div>
    </div>
</body>
<script>


</script>

</html>